.btn {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  height: 1.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  transition: all 0.4s ease;

  &:hover {
    background-color: $secondary-color;
    color: darken($color: $primary-color, $amount: 20);
  }
}

.btn-primary {
  background-color: $primary-color;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  transition: ease-in-out 0.2s;

  &:disabled {
    background-color: lighten($color: $primary-color, $amount: 10);
  }

  &:hover {
    background-color: $secondary-color;
    border: 1px solid transparent;
    color: $primary-color;
  }
}
