.note-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notes-app-bar {
  align-items: center;
  background-color: $primary-light;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.note-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.2rem;
  & textarea {
    flex: 1 1 auto;
    resize: none;
    height: 24rem;
  }
}
.note-image {
  box-shadow: 3px 3px 10px $border-color-grey;
  height: 14rem;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  text-align: center;
  & img {
    background-size: auto;
    max-height: 14rem;
  }
}
