// colors
$background-color: #e5e7e9;
$primary-color: #34495e; //5c62c5
$primary-light: #5d6d7e;
$secondary-color: #f39c12;
$secondary-light: #f8c471;
$dark-grey: #626567;
$light-grey: #d7dbdd;
$white: #eee;
$border-color-grey: #d7dbdd;
